*.exe
*.dll
*.pdb

/TinyApp/GHIElectronics.TinyCLR.Gadgeteer/bin/
/TinyApp/GHIElectronics.TinyCLR.Gadgeteer/obj/
/TinyApp/.vs/
TinyApp/TinyApp/obj/
TinyApp/TinyCLR.LinesIn3D/obj/
TinyApp/VectorVisualizerApp/obj/
