*.exe
*.dll
*.pdb

/TinyApp/GHIElectronics.TinyCLR.Gadgeteer/bin/
/TinyApp/GHIElectronics.TinyCLR.Gadgeteer/obj/
/TinyApp/.vs/
TinyApp/TinyApp/obj/
TinyApp/TinyCLR.LinesIn3D/obj/
TinyApp/VectorVisualizerApp/obj/
TinyApp/TinyApp/bin/Debug/pe/GHIElectronics.TinyCLR.Gadgeteer.pe
TinyApp/TinyApp/bin/Debug/pe/TinyApp.pdbx
TinyApp/TinyApp/bin/Debug/pe/TinyApp.pe
TinyApp/TinyApp/bin/Debug/pe/GHIElectronics.TinyCLR.Gadgeteer.pdbx
*.user
